#confirmacao-plano
{
	background: #fff;
	padding-bottom: 8em;
}

#confirmacao-plano h3
{
	color: #717171;
}

/* Header Confirmacao */

	.header-confirmacao
	{
		margin-bottom: 3em;
	}

	.header-confirmacao .header-sessao
	{
		padding: 4em 0;
	}

	.header-confirmacao ul
	{
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}

	.header-confirmacao li
	{
		background: #058189;
	}

	.header-confirmacao li.header-green
	{
		background: #A5AC37;
	}

	#confirmacao-plano .header-confirmacao h3
	{
		color: #fff;
	}

	#confirmacao-plano .desativado h3
	{
		color: #5e99a1;
	}

	#confirmacao-plano .header-confirmacao h3:before
	{
		background: #EBEBEA;
		bottom: 30%;
	}

	#confirmacao-plano .desativado h3:before
	{
		background: #5e99a1;
	}	

/* Plano Escolhido */

	#confirmacao-plano .row
	{
		padding: 2em 0 0;
	}

	#confirmacao-plano .row header
	{
		padding: 2em 0 1.5em;
	}

	#confirmacao-plano h4
	{
		color: #717171;
		font-size: 2.2em;
	}

	#confirmacao-plano p
	{
		color: #717171;
		line-height: 1.3em;
	}

	#confirmacao-plano a
	{
		color: #058189;
		font-family:'neo_sansbold';
		font-size: .95em;
		letter-spacing: .5px;
		text-transform: uppercase;
	}

/* Media Queries */

	@media screen and (max-width: 767px)
	{	
		#confirmacao-plano .row
		{
			text-align: center;
		}

		#confirmacao-plano .row img
		{
			margin: 0 auto;
			max-width: 100%;
		}
	}	

	@media screen and (max-width: 479px)
	{
		#confirmacao-plano h4
		{
			font-size: 2em;
		}
	}		