#marketing
{
	background: #058189;
	padding: 3em 0;
	max-height: 99px;
}

#marketing h3
{
	color: #fff;
	float: left;
	font-size: 2.2em;
	line-height: 1.55em;
	margin: 0;
	width: 60%;
}

#marketing form
{
	float: right;
	width: 40%;
}

#marketing label
{
	position: relative;
}

#marketing label .input-submit
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

#marketing label .input-submit:hover
{
	background-color: #E7E751;
}

#marketing label .input-submit:focus
{
	background-color: #8B8B8A;
}

/* Media Queries */

	@media screen and (max-width: 959px)
	{
		#marketing h3 
		{
		    font-size: 2em;
		    line-height: 1.2em;
		    width: 50%;
		}		

		#marketing form
		{
			width: 50%;
		}
	}

	@media screen and (max-width: 767px)
	{	
		#marketing h3
		{
			font-size: 2em;
			line-height: 1.2em;
			text-align: center;
			margin-bottom: .5em;
		}

		#marketing h3,
		#marketing form
		{
			width: 100%;
			float: none;
			overflow: hidden;
		}

		#marketing form
		{
			width: 400px;
			margin: 0 auto;
			max-width: 100%;
		}
	}	

	@media screen and (max-width: 479px)
	{
		#marketing h3
		{
			font-size: 1.5em;
		}
	}		