#testemunhas
{
	background: #fff;
	padding: 0;
}

#testemunhas h3
{
	color: #717171;
}

#testemunhas img
{
	max-width: 100%;
}

.testemunhas-conteudo
{
	padding: 12em 0 0;
}

#slider-testemunhas
{
	max-width: 100%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.owl-testemunhas
{
	background: #EFEFF0;
	padding: 2em;
	position: relative;
	z-index: 5;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

#slider-testemunhas:before
{
	background: url("../imgs/aspas-top.png") no-repeat 0 0;
	content: "";
	top: -80px;
	left: 11px;
	width: 110px;
	height: 100px;

	position: absolute;
	z-index: 0;
}

#slider-testemunhas:after
{
	background: url("../imgs/aspas-bottom.png") no-repeat 0 0;
	content: "";
	bottom: -75px;
	right: 30px;
	width: 109px;
	height: 104px;

	position: absolute;
	z-index: 10;
}

#testemunhas blockquote
{
	margin: 0 auto;
	font-size: inherit;	
	position: relative;
}

#testemunhas blockquote p
{
	color: #717171;
	font-size: 1.4em;
	line-height: 1.2em;
}

#testemunhas blockquote cite
{
	font-style: normal;
}

#testemunhas blockquote footer
{
	background: transparent;
	border: 0 none;
	color: #8B8B8B;
	text-align: center;
	font-family: 'neo_sansmedium';
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0;
}

#testemunhas blockquote small
{
	color: #B2B1B1;
	text-transform: none;
}

#testemunhas blockquote small:before
{
	content: "";
}

#testemunhas .owl-nav
{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -15px;
}

#testemunhas .owl-nav .owl-next,
#testemunhas .owl-nav .owl-prev
{
	background: #EFEFF0;
	position: absolute;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

#testemunhas .owl-nav .owl-next
{
	right: -10px;
}

#testemunhas .owl-nav .owl-prev
{
	left: -50px;
}

#testemunhas .owl-dots .owl-dot span
{
	border-radius: 0;
	background: #d4e6e2;
}

#testemunhas .owl-dots .owl-dot.active span,
#testemunhas .owl-dots .owl-dot:hover span
{
	background: #4b8f82;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Media Queries */

	@media screen and (max-width: 959px)
	{	
		#testemunhas
		{
			padding: 0;
		}		

		#testemunhas img
		{
			margin-top: 15px;
		}
	}

	@media screen and (max-width: 767px)
	{	

		#testemunhas
		{
			padding: 0 0 10em 0;
		}	

		.testemunhas-conteudo
		{
			padding: 2em 0 0;
		}

		#testemunhas img
		{
			margin: 0 auto;
		}

	}	

	@media screen and (max-width: 479px)
	{
		#testemunhas blockquote p
		{
			font-size: 1.3em;
		}
	}	

	@media screen and (max-width: 359px)
	{
	}			